.page {
  min-height: 100vh;
}

.rounded {
    border-radius: 5px !important;
}

.mt-n2 {
    margin-top: -0.5rem;
}

.pointer {
    cursor: pointer;
}

.navbar-brand-image {
    fill: rgb(6, 111, 209);
}

.navbar-brand {
    font-size: 18px;
}

.news-seach > input.form-control {
    width: 600px;
}

.news-seach > .input-icon-addon {
    z-index: 10;
}

.carousel-caption h2,
.carousel-caption p {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100% !important;
}

.card-link-title,
.card-link-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

svg.text-red {
    fill: rgb(214, 57, 57);
}

.img-responsive {
    padding-top: 0;
}

.img-responsive img {
    width: 100%;
}

.active-filter {
    border-bottom: 2px solid rgb(6, 111, 209);
}

.card-link img {
    max-width: 65px;
}

@media only screen and (max-width: 992px) {
    .news-seach > input.form-control {
        width: 430px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .card-link-col:last-child,
    .card-link-col .text-secondary {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .card-link .col-img {
        margin-right: 12px;
    }
    .card-link img {
        max-width: 90px;
    }
    .news-seach > input.form-control {
        width: 300px;
        width: calc(100vw - 140px);
    }
    .img-card-news .text-secondary {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}